/*
font-family: 'Inter', sans-serif;
*/
$header-font: 'Inter', sans-serif;
$header-font-alt: 'Inter', sans-serif;
$body-font: 'Inter', sans-serif;
$body-font-alt: 'Inter', sans-serif;
$caps-font: 'Inter', sans-serif;
$italic: 'Inter', sans-serif;