$black: #231f20;
$white: #ffffff;
$graytype: #5B5B5B;
$lightgray: #F5F5F5;
$red: #DA0000;
$green: #00855D;
$mediumgray: #ACACAC;
$disabledbutton: #E3E3E3;
$lightred: #FFF0F0;
$lightgreen: #E8F4F0;

$transitiontime: 0.3s;

$gutter: 30px;
$mobile-gutter: 20px;
$columnwidth: 280px;

$tablet: 1025px;
$desktop: 1490px;
$mobile: 767px;
$minitablet: 960px;
$minimobile: 640px;
$extra_wide: 1670px;

$timing: 0.3s;

$header-height: 56px;
$footer-height: 342px;
$desktop-header-height: 56px;
$tablet-header-height: 56px;
$mobile-header-height: 56px;
$desktop-menu-width: 380px;
$mobile-menu-width: 280px;
$admin-height: 32px;
$admin-height-mobile: 46px;

$corner: 20px;

$random: random(100);
$randompercent: $random + 0%;